{% extends "app/base.html.twig" %}

{% block body %}
    <h1>Homepage</h1>

    <p>
        <a href="{{ url('login') }}">Login</a>
    </p>
    <p>
        <a href="{{ url('logout') }}">Logout</a>
    </p>
    <p>
        <a href="{{ url('profile') }}">Profile</a>
    </p>
    <p>
        <a href="{{ url('signup_farm') }}">Signup user with Farm</a>
    </p>
{% endblock %}
